@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
body {
  font-family: "Secular One", sans-serif;
  background-color: #31087b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 43%;
  }
}

/* player to guess */

.looking-Player,
.player-container,
.looking-info {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-container {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.looking-img {
  width: 150px;
  height: 150px;
  /* background-image: url("https://media.api-sports.io/football/players/874.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.looking-name {
  font-size: 2.5rem;
  color: #eae509;
}
/* input filed */
.input-guess {
  min-width: 20rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.9);
}
.search-card {
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.search-team {
  width: 3rem;
  height: 3rem;
  /* background-image: url("https://media.api-sports.io/football/teams/530.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

.blur {
  -webkit-filter: blur(1rem);
  filter: blur(6px);
}

/* players that have been guessed   */

.player {
  color: rgb(42, 42, 42);
  width: 100rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  background-color: aliceblue;
  margin: 2px auto;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .player {
    width: 48rem;
  }
  #player-toFind {
  }
}

#player-toFind {
  grid-template-columns: repeat(5, 1fr);
}

/* players stats */
.player-id,
.player-age,
.player-nationality,
.player-team,
.player-league,
.player-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: moveToRight 1s ease-out;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* logos */
.player-img,
.country-flag,
.team-logo,
.league-logo,
.age-logo,
.pos-logo {
  width: 8rem;
  height: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid rgb(0, 255, 55);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.5);
}

.country-flag {
  /* background-image: url("https://countryflagsapi.com/png/England"); */
  background-size: 12.9rem;
}
/* .player-img {
  background-image: url("https://media.api-sports.io/football/players/30.png");
} */
.team-logo {
  /* background-image: url("https://media.api-sports.io/football/teams/530.png"); */
  background-size: 7rem;
}

.league-logo {
  /* background-image: url("https://media.api-sports.io/football/leagues/140.png"); */
  background-size: 7rem;
}

.age-logo,
.pos-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
}

.incorrect {
  border: 4px solid rgb(123, 123, 122);
}
